<div class="bluebox" align="center">
  <h2>Editing upcomingevent</h2>
</div>
</br>
<div class="bluebox" style="text-align: left">
  <%= render 'form' %>

  <%= link_to '', @upcomingevent %> | <%= link_to 'Back', upcomingevents_path %>
</div>