<div class="bluebox" align="center">

  <h1>Administrator</h1>


</div>

</br>
<div class="bluebox" align="center">

  <table rules="rows" frame="below">
  <tbody>
  <tr>
    <th style="width: 100px" align="left">MENU</th>
  </tr>
  <tr>
    <th style="width: 100px" align="left">Manage user</th>

    <th>
      <a href="/users">Add users</a>

    </th>
  </tr>
   <tr>
    <th style="width:255px" align="left">Manage event</th>
     <th>
       <a href="/upcomingevents">Add event</a>
     </th>

  </tr>
  </tbody>


  </table>
</div>