<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<fieldset>

  <legend style="text-align:center">Add new event</legend>
  <div style="text-align:center"><%=link_to 'event', events_url  %></div>

</fieldset>
