<div class="bluebox" align="center">
  <h2>Editing user</h2>
</div>
</br>
<div class="bluebox" style="text-align: left">
  <%= render 'form' %>

  <%= link_to '', @user %> | <%= link_to 'Back', users_path %>
</div>